::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-neutral-100);

  .dark & {
    background: var(--color-neutral-800);
  }
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-500);
  border-radius: 5px;

  &:hover {
    background: var(--color-primary-600);
  }
}

